<nav>
  <ul>
    <li><a href="/admin/verReclamos">Ver Reclamos</a></li>
    <li><a href="/admin/verEncuesta">Resultados de Encuesta</a></li>
    <li><a href="/admin/inicio">Volver al inicio</a></li>
    <li><a href="/admin/dashboard">Ver Dashboard Reclamos</a></li>
  </ul>
</nav>

<div class="container mt-5 seccion-inicio"">
  <div class="row saludo-usuario justify-content-end">
    <div class="col-auto">
      <p class="texto-saludo">
        Hola {{usuario}}!
        <a class="btn btn-danger ms-3" href="/admin/login/logout">
          Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
        </a>
      </p>
    </div>
  </div>
</div>

