<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
</head>


<body>
  <header>
    <div class="logo">
      <img class='img_logo' src="/images/logo.png" width="120" alt="" />
      <h2 class="titulo">SECCION ADMINISTRADORES</h2>
    </div>
  </header>
  {{{body}}}
</body>
<footer class="footer">
    <div class="footerContent">
        <div class="contactInfo">
            <h5>Contacto</h5>
            <p>
                <i class="fas fa-map-marker-alt"></i>
                Calle Lorem 110, Chaco, Argentina
            </p>
            <p>
                <i class="fas fa-envelope"></i>
                consultas@loremipsum.com
            </p>
            <p>
                <i class="fas fa-phone"></i>
                +54 123 456 789
            </p>
        </div>

        <div class="social">
            <h5>Seguinos</h5>
            <ul class="socialIcons">
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-facebook"></i> Facebook
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footerBottom">
        <p>Municipalidad Lorem Ipsum – Todos los derechos reservados ©</p>
    </div>
</footer>

</html>