<div class="container" style="margin: 100px auto">
  <div class="row">
    <div class="col-6 offset-3">
      <form action="/admin/admin-reclamos/modificar" method="post">
        <input type="hidden" name="id" value="{{reclamo.id}}">

        <p class="form-label">Modifica Estado del Reclamo</p>
        <div class="row mb-3">
          <select name="estado" class="form-control select-estado">
            <option value="Nuevo" {{#ifCond reclamo.estado '==' 'Nuevo'}}selected{{/ifCond}}>Nuevo</option>
            <option value="Cargado" {{#ifCond reclamo.estado '==' 'Cargado'}}selected{{/ifCond}}>Cargado</option>
            <option value="En proceso" {{#ifCond reclamo.estado '==' 'En proceso'}}selected{{/ifCond}}>En proceso</option>
            <option value="En revision" {{#ifCond reclamo.estado '==' 'En revision'}}selected{{/ifCond}}>En revisión</option>
            <option value="Resuelto" {{#ifCond reclamo.estado '==' 'Resuelto'}}selected{{/ifCond}}>Resuelto</option>
            <option value="Cerrado" {{#ifCond reclamo.estado '==' 'Cerrado'}}selected{{/ifCond}}>Cerrado</option>
          </select>
        </div>

        <p class="form-label">Agrega comentarios al Reclamo</p>
        <div class="row mb-3">
          <input type="text" class="form-control" name="comentarios" value="{{reclamo.comentarios}}">
        </div>

        <button type="submit" class="btn btn-secondary">Guardar</button>
      </form>

      {{#if error}}
        <p class="text-danger mt-3">{{mensaje}}</p>
      {{/if}}
    </div>
  </div>
</div>
